<mat-toolbar color="primary">
    <div class="title">
        <img src="/assets/favicon-32x32.png"/>

        <h1>
            <a href="https://github.com/valentintintin/pixel-downloader" target="_blank">Pixel Downloader</a>
        </h1>
    </div>

    <div class="actions">
        <a href="mailto:valentin.s.10@gmail.com?subject=[PixelDownload] Proposer un site&body=Nouveau site : "
           mat-flat-button color="primary" target="_blank">Proposer un site ?</a>
        <a href="mailto:valentin.s.10@gmail.com?subject=[PixelDownload] Rapport de bug&body=Commentaire du bug :%0D%0ANavigateur : {{ userAgent }}"
           mat-flat-button color="accent" target="_blank">Un bug ?</a>
    </div>
</mat-toolbar>

<main>
    <div class="search">
        <h2>Rechercher</h2>

        <div class="sites">
            <span>Sites actuellement utilisés :&nbsp;</span>
            <mat-chip-list>
                <mat-chip *ngFor="let site of apiService.sites$() | async">
                    <a target="_blank" [href]="site.url">{{ site.title }}</a>
                </mat-chip>
            </mat-chip-list>
        </div>

        <form (ngSubmit)="search()">
            <mat-form-field appearance="outline">
                <mat-label>Mots clés</mat-label>
                <input [formControl]="searchInputControl" matInput placeholder="doctor who"/>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Rechercher</button>
        </form>
    </div>

    <div>
        <h2>Liens :</h2>
        <mat-progress-bar mode="buffer" [value]="querySiteProgress"
                          *ngIf="querySiteProgress !== null"></mat-progress-bar>
        <div class="results" *ngIf="(results | async).length > 0; else empty">
            <figure class="result mat-elevation-z1" *ngFor="let page of results | async" (click)="openDetails(page)">
                <figcaption>
                    <b>{{ page.title }}</b>
                    <i>{{ page.host }}</i>
                </figcaption>
                <img [src]="page.image ? page.image : './assets/poster-placeholder.png'" [alt]="page.title"/>
            </figure>
        </div>
        <ng-template #empty>
            Aucun résultat :'(
        </ng-template>
    </div>
</main>
