<h3>Attention</h3>

<mat-dialog-content>
    <p>
        Ce site permet de rechercher du contenu à télécharger <i>(films, musiques, jeux ...)</i> sur les sites de
        téléchargements francophones.
    </p>
    <p>
        Ce site a été développé pour un usage <u>ultra personnel</u>. <b>S'il vous plaît ne le partagez pas.</b>
    </p>
    <p>
        Les sites de téléchargements ne sont pas conçu pour être interrogés depuis un autre service. <br/>
        Le site utilise une technique complètement artisanale qui ne fonctionne pas à 100%. Merci d'en ternir compte :)
    </p>
    <p>
        Amusez-vous bien !
    </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
