html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f6f6f6;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}
